/* font-family: 'Saira', sans-serif; */


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mulish', sans-serif;

}

/* header */

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease ease-in-out 0.5s;
    z-index: 9997;
    transition: all .5s;
    padding: 0 15px;
    background: black;
    overflow-y: auto;
}

#header .profile img {
    width: 120px;
    border: 8px solid #2c2f3f;
    margin: 15px auto;
    display: block;
}

#header .profile h1 {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
}

#header .profile .social-links a {
    display: inline-block;
    background: #212431;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 12px;
    margin-bottom: 25px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: .3 s;

}


#header .profile .social-links a:hover {
    background: #149ddd;
    color: white;
    text-decoration: none;
}

#header .profile h1 a,
#header .profile h1 a:hover {
    color: white;
    text-decoration: none;

}

#main {
    margin-left: 300px;
}

@media (max-width: 800px) {
    #header {
        left: -300px;
    }


    #main {
        margin-left: 0;
    }

}


/* nav menu */
.nam-menu {
    padding-top: 30px;


}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Saira', sans-serif;
    text-decoration: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;

}

.nav-menu a {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: .3s;
    font-size: 18px;

}

.nav-menu a i {
    font-size: 18px;
    padding-right: 8px;
    color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover {
    text-decoration: none;
    color: white;
}

.nav-menu a:hover i,
.nav-menu .active>a i,
.nav-menu li:hover>a i {
    color: #149ddd;
}

/* mobile navigation */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 18px;
    transition: all .4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;

}

.mobile-nav-toggle i {
    color: grey;
}


.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

.mobile-nav-toggle i :active #header {
    left: 0;
}

.section-1 {
    height: 100vh;
    max-width: 1200px;

}

.new-one {
   
    border-radius: 25px;
    padding: 15px 15px;  
}
.new-one:hover{
    background-color: #149ddd;
    
}